
.App {
  text-align: center;
  width:100%;
}
.navlink{
  width:80%;
  text-align: left;
  font-size:20px;
  margin:0 auto 10px;
  height:30px;
  line-height:30px;

}
.navlink a{
  color:#333;
  width:20%;
  height:30px;
  padding:0 10px;
}
